<div class="jumbotron text-center">

    <h1>Surf Forecast for San Diego</h1>

    <h2>Pick a Spot:</h2>
    <select id="surfSpotList" ng-model="spotId" ng-change="getSurfSpotForecast(spotId)" ng-options="spot.spot_id as spot.spot_name for spot in sdSpots | orderBy: spot_name">
      <option value="">Select Surf Spot</option>
    </select>

    <h2>{{ selectedSpot }} for Today, {{ currentDate | date:'MM-dd-yyyy' }}</h2>

    <div id="spotDetails" class="text-center" ng-repeat="spot in spotForecast">{{spot.size}} ft. {{ spot.shape_full }} @ {{ spot.hour }}</div>

</div>
